
.layer {
	font-style: courier;
	font-size: 90px;
	text-align: center;
	margin-right: 90%;

	
} 



.odd {
	color: white;
	background-color: #ff6868;
	height: 100px;
	padding: 50px;
	
	
}

.even {
	color: white;
	background-color: #309eba;
	height: 100px;
	padding: 50px;
	
}




