.layer {
	font-size: 60px;
	display: inline;
}


.box {
	display: inline;
}



.odd {
	color: white;
	background-color: #ff6868;
	height: 80px;
	padding: 30px;	
}

.even {
	color: white;
	background-color: #309eba;
	height: 80px;
	padding: 30px;
	
}