
#box_0 {
	font-style: courier;
	font-size: 60px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-right: 90%;
	text-align: center;
	color: white;
	background-color: #309eba;
	height: 80px;
}

#box_1 {
	font-style: courier;
	font-size: 60px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 10%;
	margin-right: 80%;
	text-align: center;
	color: white;
	background-color: #ff6868;
	height: 80px;
}

#box_2 {
	font-style: courier;
	font-size: 60px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 20%;
	margin-right: 70%;
	text-align: center;
	color: white;
	background-color: #309eba;
	height: 80px;
}

#box_3 {
	font-style: courier;
	font-size: 60px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 30%;
	margin-right: 60%;
	text-align: center;
	color: white;
	background-color: #ff6868;
	height: 80px;
}

#box_4 {
	font-style: courier;
	font-size: 60px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 40%;
	margin-right: 50%;
	text-align: center;
	color: white;
	background-color: #309eba;
	height: 80px;
}

#box_5 {
	font-style: courier;
	font-size: 60px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 40%;
	margin-right: 50%;
	text-align: center;
	color: white;
	background-color: #ff6868;
	height: 80px;
}

#box_6 {
	font-style: courier;
	font-size: 60px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 30%;
	margin-right: 60%;
	text-align: center;
	color: white;
	background-color: #309eba;
	height: 80px;
}

#box_7 {
	font-style: courier;
	font-size: 60px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 20%;
	margin-right: 70%;
	text-align: center;
	color: white;
	background-color: #ff6868;
	height: 80px;
}

#box_8 {
	font-style: courier;
	font-size: 60px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 10%;
	margin-right: 80%;
	text-align: center;
	color: white;
	background-color: #309eba;
	height: 80px;
}

#box_9 {
	font-style: courier;
	font-size: 60px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-right: 90%;
	text-align: center;
	color: white;
	background-color: #ff6868;
	height: 80px;
}
