.layer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#box_0 {
  grid-column: 1 / 3;
  grid-row: 1;
}

#box_1 { 
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}