body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

.images {
	float: left;
	clear: left;
	margin-left: 40px;
	width: 200px;
	height: 150px;
}

.tableImages {
	width: 65%;
	margin: 0 auto 0 auto;
    display: inline-block;
}

.stars {
	width: 100px;
	height: 20px;
	padding-bottom: 80px;
}

#name {
	font-size: 20px;
	color: red;
	padding-top: 80px;
}



.product-info {
	margin-right: 60%;
	padding-top: 20px;
}

table{
	float:left;
}

